<div class="wrapper">
<directive></directive>
<div class="container" id="content">
<toggle></toggle>
	<div class="tab-content">

		<div id="menu1" class="tab-pane fade in active">
			<button class="btn btn-primary pull-right" ui-sref='offence'>Add</button>
			<h3>Offence Category</h3>

			<table
				class="table table-responsive-md table-hover approve_table notification-head" border="0" style="margin-top: 50px;">
				<thead class="Tcolor">
					<tr>
						<th>Offence Type</th>
						<th>Vehicle Type</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tr ng-repeat="data in alloffence">
						<td>{{data.offenceCategory}}</td>
						<td>{{data.vehicle.vehicleType}}</td>
						<td><a ui-sref='offenceEdit({OffE:data.id})'><i class="glyphicon glyphicon-edit"></i></a></td>
						<td><a ng-click=offencedel(data.id)><i class="glyphicon glyphicon-remove"></i></a></td>
					
				</tr>

			</table>

		</div>
	</div>
</div>
</div>