<div class="wrapper">
<directive></directive>
<div class="container" id="content">

	<div class="col-md-8 col-md-offset-2 tlll7">
		<div class="row">
			<div class="col-md-6 boxx7 clrr7">
				<div class="master-form">
					<form class="form-group">
						<h3 class="text-center">Reward Points</h3>
							<input class="form-control htt7 het7" ng-model="msg.offenseCategory">
						<input class="form-control htt7 het7" ng-model="msg.penalty">
							<input class="form-control htt7 het7" ng-model="msg.rewardPoints">
						<button class="btn btn-primary pull-left htt7" ui-sref="rewardlist">Cancel</button>
						<button class="btn btn-primary pull-right htt7" ng-click="rewardPutdata()">Update</button>
					</form>
				</div>

			</div>
		</div>
		</div>