<div class="wrapper">
<directive></directive>
<div class="container" id="content">
<toggle></toggle>
	<div class="col-md-8 col-md-offset-2 tlll">
		<div class="row">
			<div class="col-md-6 boxxx4 clrrr4">
				<div class="master-form">
					<form>

							<h3 class="text-center">Vechile Type</h3>
							<input type="text" class="form-control" placeholder="Enter the New VechileType" ng-model="dataEdit.vehicleType">
							<button class="btn btn-primary pull-left htt7" ui-sref="vehiclelist">Cancel</button>
							<button class="btn btn-primary pull-right htt7" ng-click="vehiclePutdata()">Update</button>

					</form>


				</div>
			</div>
		</div>
		</div>