<div class="container">
<div class="col-md-8 col-md-offset-2 tlll">
<div class="row">
					<div class="col-md-6 boxxx4 clrrr4">
					<div class="master-form">
					    <form>
					    <table>
					    	<h3 class="text-center">Vehicle Type</h3>
					    	<input type="text" class="form-control" placeholder="Enter the New VehicleType" ng-model="data.vehicleType">
					    	<button class="btn btn-primary pull-right ht" ng-click="vehicleadd()">Save</button>
					    </table>
					    </form>
					   
</div>

</div>
</div>