 <direct></direct>

    <!-- <div class="content">
            <div class="container-fluid">
                <div class="row box-dashboard">
                    <div class="col-md-2">
                 
                        <div class="cards">
                            <div class="cards-header post">
                             <center> <h4 ui-sref="Report" class="card-title cursor"><i class="fa fa-edit fa-5x"></i></h4><center>
                         
                               
                            </div>
                            <div class="cards-body">
                                
                                    <table class="table">
                                       <h3 class="text-center"><a ui-sref="Report">Post Issues</a></h3>
                                    </table>
                           </div>
                      
                        </div>
                      </div>
                      <div class="col-md-2">
                    	<div class="container contain"> 
                         <div class="cards">
                            <div class="cards-header views">
                                  <center> <h4 class="cards-title cursor" ui-sref="Dashboard"><i class="fa fa-list fa-5x"></i></h4><center>                       
                            </div>
                            <div class="cards-body">
                                
                                    <table class="table">
                                       <h3 class="text-center"><a ui-sref="Dashboard">View Issues</a></h3>
                                    </table>
                            </div>
                   
                      </div>
                      </div>
                      </div>
                         <div class="col-md-2">
                            <div class="cards">
                            <div class="cards-header notifi">
                          <center> <h4 class="cards-title cursor"><i class="fa fa-bell fa-5x"></i></h4><center>
                               
                            </div>
                            <div class="cards-body">
                                
                                    <table class="table">
                                       <h3 class="text-center"><a href="">Notifications</a></h3>
                                    </table>
                                  </div>
                             
                            </div>
                        </div>
                             <div class="col-md-2">
                            <div class="cards">
                            <div class="cards-header reward">
                          <center> <h4 class="cards-title cursor"><i class="fa fa-gift fa-5x"></i></h4><center>
                               
                            </div>
                            <div class="cards-body">
                                
                                    <table class="table">
                                       <h3 class="text-center"><a href="">Reward Points</a></h3>
                                    </table>
                                  </div>
                             
                            </div>
                        </div>
                         <div class="col-md-2">
                            <div class="cards">
                            <div class="cards-header reward">
                          <center> <h4 class="cards-title cursor"><i class="fa fa-gift fa-5x"></i></h4><center>
                               
                            </div>
                            <div class="cards-body">
                                
                                    <table class="table">
                                       <h3 class="text-center"><a href="">Reward Points</a></h3>
                                    </table>
                                  </div>
                             
                            </div>
                        </div>
                    </div>
                  </div>

 -->
 
 
 
 <div class="main-section">
		<div class="dashbord cursor" ui-sref="Report">
			<div class="icon-section">
				<i class="fa fa-edit" aria-hidden="true"></i><br>
				<h2>Post Issue</h2>
				 <p></p>
				
			</div>
			<div class="detail-section">
				<a href="">More Info </a>
			</div>
		</div>
		<div class="dashbord dashbord-green cursor" ui-sref="Dashboard">
			<div class="icon-section">
				<i class="fa fa-list" aria-hidden="true"></i><br>
				<h2>View Issues</h2>
				 <p></p> 
				
			</div>
			<div class="detail-section">
				<a href="">More Info </a>
			</div>
		</div>
		<div class="dashbord dashbord-orange cursor">
			<div class="icon-section">
				<i class="fa fa-bell" aria-hidden="true"></i><br>
				<h2>Notification</h2>
				<p></p>
			</div>
			<div class="detail-section">
				<a href="">More Info </a>
			</div>
		</div>
		<div class="dashbord dashbord-blue cursor">
			<div class="icon-section">
				<i class="fa fa-gift" aria-hidden="true"></i><br>
				<h2>Reward Points</h2>
				<p></p>
				
			</div>
			<div class="detail-section">
				<a href="">More Info </a>
			</div>
		</div>
		<div class="dashbord dashbord-red cursor" ui-sref="challans">
			<div class="icon-section">
				<i class="fa fa-shopping-cart"  aria-hidden="true" ng-click="uchallan();"></i><br>
				<h2>E Challan</h2>
				<p></p>
			</div>
			<div class="detail-section">
				<a href="">More Info </a>
			</div>
		</div>
		<div class="dashbord dashbord-skyblue cursor">
			<div class="icon-section">
				<i class="fa fa-comments" aria-hidden="true"></i><br>
				<h2>Other Details</h2>
				<p></p>
			</div>
			<div class="detail-section">
				<a href="">More Info </a>
			</div>
		</div>
	</div>