<div class="container">
	<div class="col-md-8 col-md-offset-2 tlll">
		<div class="row">
		<div class="col-md-6 boxx1 clrr1">
					<div class="padd1">
					<h2> New to Traffic? </h2> 
								<p>One Click apply using  profile.</p>
								<p>Get relevant job recommendations.</p>
								<p>Showcase profile to top companies and consultants.</p>
								<p>JobsKnow application status on applied jobs.</p>
					</div>
					<div class="padd1">
					<h2> Take Tour </h2> 
								<p>One Click apply using  profile.</p>
								<p>Get relevant job recommendations.</p>
								<p>Showcase profile to top companies and consultants.</p>
								<p>JobsKnow application status on applied jobs.</p>
					</div>
					</div>
			<div class="col-md-6 boxx23 cllrr2">
				<div class="r-form">
					<form class="mrr">

						<h3>Create New Password</h3>
						<div class="form-group">
							<input type="password" class="form-control"
								placeholder="Enter New Password " ng-model="newPassword" >
						</div>
						<div class="form-group">
							<input type="password" class="form-control"
								placeholder="Retype Password " ng-model="rpass">
						</div>
					</form>
					<div class="form-group">
						<div class="row">
							<div class="col-xs-8 col-xs-offset-2">
								<input type="button" class="form-control btn btn-default"
									value="Reset Password" ng-click="savepwd()">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-xs-8 col-xs-offset-2">
								{{resmsg}} 	
							</div>
						</div>
					</div>
					
				</div>

			</div>
		</div>