<div class="container">
<div class="col-md-8 col-md-offset-2 tll">
<div class="row">
					<div class="col-md-6 boxx1 clrr1">
					<div class="padd1">
					<h2> New to Traffic? </h2> 
								<p>One Click apply using  profile.</p>
								<p>Get relevant job recommendations.</p>
								<p>Showcase profile to top companies and consultants.</p>
								<p>JobsKnow application status on applied jobs.</p>
					</div>
					<div class="padd1">
					<h2> Take Tour </h2> 
								<p>One Click apply using  profile.</p>
								<p>Get relevant job recommendations.</p>
								<p>Showcase profile to top companies and consultants.</p>
								<p>JobsKnow application status on applied jobs.</p>
					</div>
					</div>
					<div class="col-md-6 boxx2 clrr2">
					<div class="sign-form">
					    <form class="mr">
					    	
					    	<h3>Reset Instructions </h3>
					    	<div class="form-group">
					    		{{Fmessage}}
					    	</div>
					    </form>
</div>

</div>
</div>