
 <div class="container-fluid" style="padding: 0px;">
		<div id="header">
			<a href="index.html" class="logo pull-left"><img src="images/medintu.png" alt=""></a>
			<div> 

			
			<ul>
				<li class="selected">
					<a ui-sref="adminDashboard">home</a>
				</li>
				<li>
					<a ui-sref="test">Test</a>
				</li>
				<li>
					<a ui-sref="sponsor">Sponsor</a>
				</li>
				<li>
					<a ui-sref="createuser">User</a>
				</li>
				<li>
					<a ui-sref="createtest">Create test</a>
				</li>	
				<li>
					<a ui-sref="creaetSponsor">Create sponsor</a>
				</li>			
				
			</ul>
		</div>
		</div>
    </div><br><br><br>