<div class="container">
<div class="col-md-8 col-md-offset-2 tll">
<div class="row">
					<div class="col-md-6 boxx1 clrr1">
					<div class="padd1">
					<h2>New to Traffic?</h2>
					<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>  One Click to Register yourself in Traffic App.</p>
					<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Post the Issues.</p>
					<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Get Reward Points.</p>
					<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Know status on posted Issues.</p>
				
				</div>
				<div class="padd1">
					<h2>Take Tour</h2>
					<p><i class="fa fa-hand-o-right" aria-hidden="true"></i> One click to know how many Reward points you earned.</p>
					<p><i class="fa fa-hand-o-right" aria-hidden="true"></i> One click to know how many Issues you posted.</p>
					<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Post the Issue in one click.</p>
				</div>
					</div>

					<div class="col-md-6 boxx2 clrr2">
					<div class="sign-form">
					    <form class="mr">
					    	
					    	<h3>Reset Instructions </h3>
					    	<div class="form-group">
					    		<input type="text" class="form-control" placeholder="Enter Registered Mail id " ng-model="mail">
					    	</div>
					    </form>
					       <div class="form-group">
							<div class="row">
								<div class="col-xs-6">
									<input type="button"  class="form-control btn btn-default" value="Reset" ng-click="reset()" >
								</div>
								<div class="col-xs-6">
									<input type="button" ui-sref="/" class="form-control btn btn-default" value="Back">
								</div>
							</div>
					</div>
</div>

</div>
</div>